{
    "presets": [
        ["env", {
            "targets": {
                "browser": [
                    "the last 5 versions",
                    "ie >= 8"
                ]}
        }]
    ]
}